body {
    margin: 0;
    padding: 0;
}
.form-control {
    font-size: 14px; /* Ajusta el tamaño del texto en el campo de entrada */
}

.btn {
    font-size: 12px; /* Ajusta el tamaño del texto en el botón */
    padding: 5px 10px; /* Ajusta el relleno del botón */
}

.navbar {
    width: 100%;
}

.carousel-container {
    background-color: #000000;
    padding: 30px;
    height: 500px;
    margin: auto;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 1.5em;
    height: 1.5em;
}


.nav-item-dropdown {
    margin-left: 1%;
   
}
.dropdown-menu{
    margin-left: 1%;
}

.navbar-nav {
    margin-right:1%; /* Ajusta el margen derecho del menú de navegación */

}

.form-search {
   
    margin-left: 1%;
    width: 300px;
}

.navbar-brand,
.navbar-nav {
    margin-left: 1%; /* Ajusta el margen izquierdo de "Mi Tienda" y el menú de navegación */
}

.navbar-toggler-icon {
    margin-right: 1%; /* Ajusta el margen derecho del icono del botón de alternar */
}

/* Estilos personalizados para el menú de hamburguesa */
.navbar-toggler-icon {
    background-color: #000; /* Color del ícono de hamburguesa */
}

/* Alineación del menú desplegable hacia la izquierda */
.navbar-collapse {
    text-align: left;
}
body {
    background-color: #6834a6;
    margin: 0;
    padding: 0;
}


.carousel-container {
    background-color: #fffcf4;
    padding: 30px;
    margin: auto;
    margin-top: 1%;
    width: 60%px;
    height: 40%px;
    margin-left: 10%;
    margin-right: 10%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 20%;
    
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 1.5em;
    height: 1.5em;
    filter: brightness(100) invert(1); /*CAMBIA EL COLOR DEL ICONO a Negro */

   
}

.dropdown-menu {
    margin: 0 5%;
    padding: 0;
    max-height: 300px; /* Ajusta la altura máxima según sea necesario */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}


.nav-item-dropdown {
    margin: 0 5%;
    padding: 0;
 

}

.navbar-nav {
   
    margin-left: 1%;
    margin-right: 1%;
}


.form-search {
    margin-right: 20%; /* Ajusta el margen derecho del formulario de búsqueda para alinearlo a la izquierda */
    margin-left: 10%;
}

.navbar-brand
 {
    margin-left: 0%; /* Ajusta el margen izquierdo de "Mi Tienda" y el menú de navegación */
}
.dropdown-menu{
    margin-left: 1%;
}

.navbar-toggler-icon {
    margin-right: 1%; /* Ajusta el margen derecho del icono del botón de alternar */
}
.image{
    margin:auto;
}
.d-flex{
    margin-left: 10%;
    margin-right: 0%;
    width: 40%;
    height: auto;
}

.menu-contenido {
    margin-left: 250px; /* Ancho del menú lateral */
    padding: 15px;
}
.producto-container {
    background-color: #ffffff; /* Color de fondo del contenedor */
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(30, 24, 24, 0.2); /* Sombra para el efecto 3D */
    width: 300;
    height: 380px;
}

.producto-info {
    text-align: center;
}
.Imagecontainer{
    background-color: #ffffff; /* Color de fondo del contenedor */
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para el efecto 3D */ 
}
.Text_Carousel_Producto{
    background-color: #ffffff; /* Color de fondo del contenedor */
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;

    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para el efecto 3D */ 
}
.col-md-4{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: auto;
    width: auto;
}

.card-img-top {
    max-height: 200px; 
    width: auto; 
    object-fit: contain; 
    cursor: pointer; 
    margin-top: 5%;
}
.container-mt-5{
    margin-left: 10%;
    margin-right: 10%;
}
.Nozama.Box {
    overflow: hidden;
    position: relative;

    width: 70px;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
  }
  
  .Nozama.Box img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .Nozama.Box:hover img {
    transform: scale(1.2);
  }
  
  /* ShoppingCart */
#shoppingCartContainer {
    padding: 0 24px;
  }
  .title-container {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
    padding: 10px;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: space-between;
}
.title12{
    font-size: 25px;
    font-weight: bold;
    margin-left: 30%;
    align-items:baseline ; /* Centra verticalmente el contenido */
    
}
  .title-container21 img {
    transform: rotate(180);
    margin-right: 14px;
    width: 30px; 
    height: 30px;
    transition: transform 0.3s ease-in-out;
  }

  .title-container21:hover img {
    transform: scale(1.2); /* Zoom al 120% cuando se pasa el ratón sobre el elemento */
}
.quantity{
    max-width: 40px;
    max-height: 40px;
}
.quantity img {
    max-width: 20px;
    transition: transform 0.3s ease-in-out;
}

/* Agrega esta regla CSS para aplicar la transformación en el hover */
.quantity img:hover {
    transform: scale(1.2); /* Puedes ajustar el factor de escala según tus preferencias */
}
.my-order-content{
    margin-top: 10%;
}
  .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
  }
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
  }
  .order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
  .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }
  .shopping-cart figure {
    margin: 0;
  }
  .shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  .shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
  }
  .shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
  }
  .primary-button {
    background-color: #FFA500;
    border-radius: 8px;
    border: 2px solid #000; /* Añadí un borde para mayor contraste */
    color: #FFFFFF;
    width: 100%;
    cursor: pointer;
    font-size: 16px; /* Ajusta según tus preferencias */
    font-weight: bold;
    height: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Añade sombra */
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Agrega transiciones */
  }

/* Agregamos estilos para el hover */
.primary-button:hover {
    transform: scale(1.1); /* Hace un zoom del 10% al pasar el mouse */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
  .ParteDerecha {
    position: fixed;
    top: 0;
    right: -400px; /* Inicialmente oculto fuera del lado derecho de la pantalla */
    width: 400px; /* Ancho de la parte derecha, ajusta según sea necesario */
    height: 100%; /* O ajusta la altura según sea necesario */
    background-color: #fff; /* Color de fondo de la parte derecha */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out; /* Transición suave de la posición */
    z-index: 999; /* Ajusta este valor para que sea mayor que z-index de otros elementos */
}
.cart-item {
    display: flex;
    align-items: center;
}

.cart-item figure {
    margin-right: 10px; /* Ajusta este valor según tus necesidades */
}

.product-details {
    flex-grow: 1;
}

.quantitycontainer {
    margin-left: 10px; /* Ajusta este valor según tus necesidades */
}