<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOZAMA - Vendedor</title>
    <link rel="stylesheet" type="text/css" href="Static/style_Central.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="Static/src/Logo.ico" />
</head>

<body>
    <style>
        .Container-m2 {
    background-color: #f5e1da; /* Color pastel de fondo */
    padding: 20px; /* Espaciado interno del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    margin: auto; /* Centrar el contenedor en la página */
    width: 60%; /* Ancho del contenedor */
}

form {
    max-width: 600px; /* Ancho máximo del formulario */
    margin: auto; /* Centrar el formulario dentro del contenedor */
}

/* Estilos adicionales según tus necesidades */
h2 {
    text-align: center; /* Centrar el título */
}

h3 {
    color: #345; /* Color del título */
}
    </style>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="Static/src/Logo_Sin_Fondo.png" alt="Logo" style="width: 100px; height: 50px;" class="image">
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto"> 
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mis Productos</a>
                    </li>
                    <li class="nav-item">
                        <a id="nuevosProductosLink" class="nav-link" href="#">Nuevos Productos</a>
                    </li>
                </ul>
            </div>

            <div class="nav-item-dropdown dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i> <strong>Usuario</strong> <img src="Productos/User.png" alt="Logo"
                        style="width: 20px; height: 20px;">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Configuración</a>
                    <a class="dropdown-item"
                        href="index.html">Cerrar
                        Sesión</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="ImageArchive" class="form-label">Adjunta la imagen</label>
                        <input type="file" class="form-control" id="ImageArchive" accept="image/*">
                        <!-- 'accept="image/*"' limita la selección de archivos solo a imágenes -->
                    </div>
                    <div class="mb-3">
                        <label for="productName" class="form-label">Nombre del Producto</label>
                        <input type="text" class="form-control" id="productName">
                    </div>
                    <div class="mb-3">
                        <label for="DescriptionProuct" class="form-label">Descripcion del Producto</label>
                        <input type="text" class="form-control" id="productPrice">
                    </div>
                    <div class="mb-3">
                        <label for="LinkProduct" class="form-label">Link del Producto</label>
                        <input type="text" class="form-control" id="productPrice">
                    </div>
                    <div class="mb-3">
                        <label for="productPrice" class="form-label">Precio del Producto</label>
                        <input type="text" class="form-control" id="productPrice">
                    </div>
                    <button type="button" class="btn btn-primary">Agregar Producto</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="Container-m2">
    <h2 style="margin-top: 2%;">Al ser su primera vez debera rellenar este cuestionario para poder darle servicio</h2>
    <div class="container mt-5">
        <h3>Complete su Información Personal</h3>
        <form>
            <div class="mb-3">
                <label id="question1Label" for="question1" class="form-label">Nombre / Razón Social</label>
                <input type="text" class="form-control" id="question1">
            </div>
            <div class="mb-3">
                <label id="question2Label" for="question2" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="question2">
            </div>
            <div class="mb-3">
                <label id="question3Label" for="question3" class="form-label">RFC</label>
                <input type="text" class="form-control" id="question3">
            </div>
            <div class="mb-3">
                <label id="question4Label" for="question4" class="form-label">Correo</label>
                <input type="text" class="form-control" id="question4">
            </div>
            <div class="mb-3">
                <label id="question5Label" for="question5" class="form-label">Página Web</label>
                <input type="text" class="form-control" id="question5">
            </div>
            <button type="button" onclick="enviarInformacion()" class="btn btn-primary">Enviar Información</button>
        </form>
    </div>
</div>

<script>
    var urlParams = new URLSearchParams(window.location.search);
    var correo = urlParams.get('correo');
    document.addEventListener('DOMContentLoaded', function() {


    verificarEspaciosVacios(correo);
});

function enviarInformacion() {
    var nombre = document.getElementById('question1').value;
    var direccion = document.getElementById('question2').value;
    var rfc = document.getElementById('question3').value;
    var Telefono = document.getElementById('question4').value;
    var paginaWeb = document.getElementById('question5').value;

    var formData = new FormData();
    formData.append('Nombre', nombre);
    formData.append('Direccion', direccion);
    formData.append('RFC', rfc);
    formData.append('Telefono', Telefono);
    formData.append('PaginaWeb', paginaWeb);
    formData.append('Correo', correo);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'Archivos_PHP/Rellenador.php', true);
    xhr.onload = function () {
        if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            var mensaje = response.mensaje;
            if(mensaje === "True"){
                window.location.href = 'MisProductos.html?correo=' + correo;
            }
        }
    };
    xhr.send(formData);
}

function esNumero(valor) {
    return typeof valor === 'number' && isFinite(valor);
}


function esCorreoElectronico(valor) {
    var regexCorreo = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return regexCorreo.test(valor);
}
</script>
 
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Obtener el enlace "Nuevos Productos" por su ID
            var nuevosProductosLink = document.getElementById('nuevosProductosLink');
            nuevosProductosLink.addEventListener('click', function () {
                // Obtener el modal por su ID y mostrarlo
                var addProductModal = new bootstrap.Modal(document.getElementById('addProductModal'));
                addProductModal.show();
            });
        });
    </script>
    <script src="Archivos_JS/app.js"></script>
</body>

</html>
